@font-face {
  font-family: Bluberry;
  src: url(./blueberry/Blueberry.ttf) format("truetype");
}
.titulo {
  font-family: Bluberry;
  color: white;
  font-size: 70px;
  align-self: center;
}

.cuerpo {
  background-color: #26447f;
}
.cabecera {
  background-color: #0290fa;
  border-radius: 35px;
}
.botonfondo {
  background-color: #ff1780;
  border-color: #ff1780;
  border-radius: 10px;
}
.card-header {
  text-align: center;
  font-family: Bluberry;
}
.carta {
  background-color: #02b795;
  border-radius: 10px;
}
.info {
  justify-content: right;
}
